.hide {
  display: none;
}
.meter {
  height: 20px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  /*ckground-color: #5bc236; 
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);*/
  background-image: linear-gradient(
    to right,
    #ff2d55,
    #5856d6,
    #34aadc,
    #007aff,
    #5ac8fa,
    #4cd964
  );
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
